{% if site.latest-release.enabled %}
<!-- 最新发布视频 -->
<div class="latest-release" style="margin-top: 20px;">
    <!-- 标题 -->
    <h3 style="font-size: 1.6rem; font-weight: bold; text-transform: uppercase; font-family: 'Microsoft YaHei', sans-serif;">
        {{ site.latest-release.title }}
    </h3>
    <!-- 视频播放器 -->
    <div class="video-container" style="position: relative; width: 100%; padding-bottom: 56.25%; height: 0; overflow: hidden; border-radius: 5px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
        <iframe src="//player.bilibili.com/player.html?isOutside=true&aid=113611934532084&bvid=BV1asqLYaE1i&cid=27228703342&p=1" 
                scrolling="no" 
                frameborder="no" 
                allowfullscreen="true" 
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 5px;">
        </iframe>
    </div>
</div>
{% endif %}
